@import "variables.less";

@import "icons.less";
@import "navigation.less";
@import "loader.less";

html {
	position: relative;
	min-height: 100%;
	font-size: 14px;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f8f9fa;
	margin-bottom: 60px;
}

h1, h2, h3, a {
	color: @mainColor;
}

a:hover {
	color: @mainColorDarker;
}

.btn-primary {
	background-color: @mainColor;
	border-color: @mainColor;

	&:hover {
		background-color: @mainColorDarker;
		border-color: @mainColorDarker;
	}
}

.btn:focus, .btn:active:focus, .btn.active:focus, .form-control:focus, .form-check-input:focus {
	outline: none !important;
	box-shadow: none !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.error {
	color: @errorColor !important;
	background-color: @errorBackgroundColor !important;
}

.table {
	margin-bottom: 2px;

	tr {
		height: 50px;
		vertical-align: middle;
	}

	th {
		background-color: @mainColor;
		border: 0px;
		color: white;
	}

	th, td {
		padding: 1em;

		.name {
			display: flex;
			gap: 4px;
		}

		&.gauge {
			padding: 0;

			> span {
				display: flex;
			}
		}
	}

	.numeric-value {
		text-align: right;
		padding-left: 0;

		&.setter {
			.inner {
				display: flex;
				align-items: center;
				justify-content: right;

				.control {
					width: 20px;
					height: 20px;
					cursor: pointer;

					&.minus {
						margin-right: 10px;
					}

					&.plus {
						margin-left: 10px;
					}

					&.disabled {
						cursor: not-allowed;
						opacity: 0.5;
					}
				}
			}
		}
	}

	.icon {
		width: 80px;
	}

	.center {
		display: flex;
		justify-content: center;
	}
}

#map-app {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	touch-action: none;
	cursor: grab;

	#content {
		position: absolute;
		top: 0;
		left: 0;
		transform-origin: top left;
		transform: translate(0px, 0px) scale(1);

		img {
			user-select: none;
			pointer-events: none;
		}

		.room {
			position: absolute;
			z-index: 9;
			background-color: white;
		}
	}
}

.toast-top-center {
	top: 25px;
}

#toast-container > div {
	opacity: 1;
}

.gauge-container {
	width: 50px;
	height: 50px;
	position: relative;
	margin: 0 auto;

	.background-circle {
		fill: none;
		stroke: #acacac;
		stroke-width: 5;
	}

	.progress-circle {
		fill: none;
		stroke-width: 5;
		stroke-linecap: round;
		transition: stroke 0.5s ease, stroke-dashoffset 0.5s ease;
	}

	.glow {
		filter: drop-shadow(0 0 10px red);
	}

	.gauge-text {
		font-size: 0.8em;
		text-anchor: middle;
	}
}



@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 98%;
	}
}

@media (max-width: 845px) {
	.hidden-md {
		display: none;
	}

	.container {
		max-width: 100%;
	}

	#list-app .table th, td {
		padding: 0.5em !important;
	}

	td .name {
		flex-direction: column;
	}
}

@media (max-width: 640px) {
	.hidden-xs {
		display: none;
	}
}

@media (max-width: 520px) {
	.hidden-xxs {
		display: none;
	}
}
